<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <%if(post.noDate != "true"){%>
    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    </div>
  <%}%>

  <% if (index && (post.description || post.excerpt)){ %> <!-- 文章简介，即首页列表 -->

  <!-- 首页标题背景色 -->
	<%
	var list_block_type = theme.list_block_type;
	var list_box_css = '';
	var list_item_css = '';
	if (list_block_type == 'conbine') {
		list_box_css = 'ui raised segment';
		list_item_css = '';
	} else {
		list_box_css = '';
		list_item_css = 'ui piled raised segment';
	}
	%>

	<%
	var color_map = ['black', 'green', 'red', 'blue', 'orange', 'purple', 'teal'];
	var color = 'teal';
	var color_index = Math.ceil(Math.random()*(color_map.length-1));
	color = color_map[color_index];
	if (!color) {
		color = 'teal';
	}
	%>

  <div class="<%= list_item_css %> box-archive-item" itemscope itemtype="http://schema.org/Article" style="background-color:#fafafa !important">

    <% if (theme.fancybox){ %>
      <input type="hidden" class="isFancy" />
    <% } %>

	<div class="ui <%= color %> ribbon label" style="line-height: 1.3; min-width:100px; max-width:450px;"> <!-- 标题 -->
		<span class="archive-item-title" style="display:block; height:100%; max-width:400px;white-space:nowrap; text-transform:capitalize;" >
			<%- partial('post/title', {class_name: 'article-title'}) %>
		</span>
	</div>
  <% if (post.description){ %>
  	<div id="id_description_div" style="margin-top:20px; line-height: 1.65em;cursor:pointer">
        <a href="<%- url_for(post.path) %>" style="color:#333">
            <%- post.description %>
        </a>
    </div>
  <% } else { %>
    <div onclick="window.open('<%- url_for(post.path) %>','_self')" id="id_description_div" style="margin-top:20px; line-height: 1.65em;cursor:pointer">
        <%- post.excerpt %>
    </div>
  <% } %>

    <% if (index){ %>
    <div class="article-info article-info-index">
      <%if(post.top > 998){%>
        <div class="article-pop-out tagcloud">
          <a class="">置顶</a>
        </div>
      <% } %>
      <%- partial('post/category') %>
      <%- partial('post/tag') %>
      <% if (index && (post.description || post.excerpt)){ %>
        <p class="article-more-link">
          <a <% if (!theme.excerpt_link){ %>class="hidden"<% } %> href="<%- url_for(post.path) %>#more">
				<span class="link link--yaku">
					<span>发</span><span>现</span><span>更</span><span>多 >></span>
				</span>
		  </a>
		  <!-- <%= theme.excerpt_link %> >> -->
        </p>
      <% } %>
      <div class="clearfix"></div>
    </div>
    <% } %>
  </div>

 <% } else { %> <!-- 文章主内容 -->
  <% if (post.link || post.title){ %>
      <header id="id_header_post" class="article-header">
        <%var colorList_ = ["#6da336", "#ff945c", "#66CC66", "#99CC99", "#CC6666", "#76becc", "#c99979", "#918597", "#4d4d4d"];%>
        <%var color_ = colorList_[Math.ceil(Math.random()*(colorList_.length-1))];%>
        <a href="https://github.com/PyQt5/blog/blob/dev/source/<%= post.source %>" class="github-corner" target="_blank" title="编辑原文" aria-label="View source on GitHub"><svg width="80" height="80" viewBox="0 0 250 250" style="fill:<%= color_ %>; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a><style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style>
        <%- partial('post/title', {class_name: 'article-title-big'}) %>
      </header>
      <% if (!index){ %>
      <div class="article-info article-info-post">
        <%- partial('post/category') %>
        <%- partial('post/tag') %>
        <div class="clearfix"></div>
      </div>
      <% } %>
    <% } %>
          <div id="article-content" class="article-entry" itemprop="articleBody">
			  <% if (is_page()){ %>
				  <%- partial('_partial/page') %>
			  <% } %>
			<%- post.content %>
		</div>
      <% } %>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>
<%- partial('_partial/toc') %>

<% if (!index && theme.share.on && (post.share != false || post.share)){ %>
    <%- partial('post/share') %>
<% } %>

<% if (!index && post.comments){ %>
    <% if (theme.gitalk.on) { %>
        <%- partial('comments/gitalk') %>
    <% } else if (theme.duoshuo.on) { %>
      <%- partial('comments/duoshuo', {
          key: post.path,
          title: post.title,
          url: config.url+url_for(post.path),
          }) %>
    <% } else if (theme.youyan.on) { %>
        <%- partial('comments/youyan') %>
    <% } else if (theme.disqus.on) { %>
        <%- partial('comments/disqus', {
            shortname: theme.disqus.shortname
          }) %>
    <% } else if (config.disqus_shortname) { %>
        <%- partial('comments/disqus', {
            shortname: config.disqus_shortname
          }) %>
    <% } else { %>
        <%- partial('comments/netease') %>
    <% } %>
<% } %>

<%- partial('_partial/post-nav-button') %>

<% if (!index) { %>
    <script>
        <% if (post.fancybox === false){ %>
            yiliaConfig.fancybox = false;
        <% } %>
    </script>
<% } %>
