<footer id="footer">
    <div class="outer">
        <div id="footer-info" style="text-align:center;">

            <div class="footer-left" style="vertical-align:middle;margin-top:2px">
                <img src="" style="vertical-align:middle; opacity:0" height="24">
                <i class="fa fa-copyright" style="vertical-align:middle;"></i>
                <% if (theme.since && !isNaN(theme.since) && theme.since < date(new Date(), 'YYYY')) { %><%- theme.since%>-<% } %><%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
		<a href="http://www.miitbeian.gov.cn"><%= config.record %></a>
            </div>

			<div id="footer_right_div" class="footer-right" style="text-align:center;overflow:hidden;">
				<div id="web_count_div" class="post-count-bottom" style="display:inline;">
					<% if(is_post()) {%>
						<span id="id_wordcount_span" style="margin-left:20px;vertical-align:middle;">本文字数：<%= wordcount(page.content) %></span>
					<%} else { %>
						<span id="id_wordcount_span" style="margin-left:20px;vertical-align:middle;">总字数：<%= totalcount(site) %></span>
					<% } %>
				</div>
            </div>
        </div>

        <% if (theme.visit_counter.on) { %>
            <div id="footerdiv" class="visit" style="text-align:center;">
			        <img src="" style="vertical-align:middle; opacity:0" height="24">
                <% if (theme.visit_counter.site_visit) { %>
                    <span id="busuanzi_container_site_pv" style="display:none; text-align:center;">
                        <span id="site-visit" class="hint  hint--top" data-hint="<%= __('visit_counter.site') %>" style="vertical-align:middle;"><i class="fa fa-user" aria-hidden="true"></i><span id="busuanzi_value_site_uv"></span>
                        </span>
                    </span>
                <% } %>
				<% if(is_post()) {%>
					<% if (theme.visit_counter.site_visit && theme.visit_counter.page_visit){ %>
						<span id="divider_span" style="vertical-align:middle;">|&thinsp;</span>
					<% } %>
					<% if (theme.visit_counter.page_visit) { %>
						<span id="busuanzi_container_page_pv" style="display:none;text-align:center;">
							<span id="page-visit" class="hint  hint--top  hint--info" data-hint="<%= __('visit_counter.page') %>" style="vertical-align:middle;"><i class="fa fa-eye animated infinite pulse" aria-hidden="true"></i><span id="busuanzi_value_page_pv"></span><span>°C</span>
							</span>
						</span>
					<% } %>
				<% } else { %>
				<% } %>
            </div>
        <% } %>
    </div>

	<!-- 右下角的搜索 -->
<div class="cb-search-tool" style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px;
        opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
    <input type="text" class="cb-search-content" id="cb-search-content" style="width:50%;top:60px;left:300px;position:fixed; border-radius:50px; background-color:white; opacity:1 !important;" placeholder="请输入文章标题或标签" />

	<div id="cb-close-div" style="position: fixed; top: 16px; right: 16px;">
        <span class="hint  hint--left" data-hint="按ESC键关闭搜索" id="id_span_search_close"></span>
    </div>
</div>

<div id="cb-search-div" style="position: fixed; right: 16px; bottom: 20px;">
    <span class="hint  hint--left" data-hint="双击Ctrl键打开或关闭搜索" id="id_span_search_open"></span>
</div>

</footer>
